---
# Only the main Sass file needs front matter (the dashes are enough)
---
body{
  background-color: #fefefe;
  font-family: "Helvetica", sans-serif;
}

body > header{
  padding: 20px 0;
}

header{

}

main{

}

footer{

}

a {
  text-decoration: none;
  color: #444;
}

.wrapper{
  padding: 0 40px;
}

.site-title{
  float: left;
  margin: 0px;
}

.site-title a{
  text-decoration: none;
  color: #444;
}

.site-nav{
  float: right;
}

.site-nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-nav ul li{
  display: inline-block;
}

.site-nav ul li a{
  display: block;
  padding: 4px 8px;
  text-decoration: none;
  color: #444;
  font-weight: 700;
}

.clear{
  clear: both;
}
.posts{
  list-style: none;
  padding: 0;
}

.posts li{
  border-bottom: 1px solid #efefef;
}

.posts last-child li {
  border-bottom: 0;
}

.posts li a {
  text-decoration: none;
  color: #666;
}
.date {
  font-size: 60%;
  color: lightgrey;
}

.site footer{
  color: #888;
  text-align: center;,

}
